/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
    padding: 0;
    border-bottom: 3px solid #F0F0F0;
    border-radius: 0px;
    background: none;
    padding-bottom: 10px;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: none;
    padding: 0 15px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li > a {
	color: #444;
	font-size: 14px;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: -5px;
    width: 7px;
    height: 7px;
    border-right: 1px solid #121420;
    border-bottom: 1px solid #121420;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.breadcrumb > li:last-child:after {
	display: none;
}