/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
	min-height: 35px;
}

/* Radiance Custom */

#form-language button img {
	margin-top: -4px;
}

#searchBox {
	display: none;
	background-color: #FFF;
	outline: none;
}

#cartBox {
	display: none;
	background-color: #FFF;
	outline: none;
}

#cartBox .closeCartBox {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 9999;
}

#cartBox .closeCartBox a {
	display: block;
	cursor: pointer;
}

#cartBox #cart table.products-table td,
#cartBox #cart table.products-table th {
	vertical-align: middle;
}

#cartBox #cart table.products-table tr:first-child td {
	border-top: 0;
	border-bottom: 1px solid #F0F0F0;
	width: 11%;
}

#cartBox #cart table.products-table tr td:last-child {
    font-weight: 700;
    font-size: 15px;
}

#cartBox #cart table.products-table tr td {
	border-bottom: 1px solid #F0F0F0;
}
#cartBox #cart table.products-table .product-name {
	display: block;
    font-size: 16px;
    font-weight: 700;
}
#cartBox #cart table.products-table .remove-product {
	margin-top: 5px;
	display: block;
}

#cartBox #cart table tr td {
	border: 0;
}

#cartBox #cart table.prices-table tr td:first-child {
	width: 93%;
}

#cartBox #cart .img-thumbnail {
	border: 0;
	border-radius: 0px;
}

#cartBox #cart .btn-checkout {
	margin-left: 10px;
}

.rc-heading {
	border-bottom: 3px solid #F0F0F0;
    padding-bottom: 14px;
    font-weight: 700;
	width: 100%;
}

.rc-heading.noborder {
	border: 0;
}

h2.rc-heading {
    font-size: 26px;
	font-weight: 400;
}

h2.rc-heading.category-page {
	border: 0;
    margin: 0;
    padding-bottom: 0;
}

h3.rc-heading {
    font-size: 16px;
	text-transform: uppercase;
}

.rc-heading.no-margin-top {
	margin-top: 0;
}

.rc-heading.margin-top-twenty,
.margin-top-twenty {
	margin-top: 20px;
}

.rc-heading.margin-top-thirty,
.margin-top-thirty {
	margin-top: 30px;
}

.rc-heading.margin-bottom-thirty,
.margin-bottom-thirty {
	margin-bottom: 30px;
}

.rc-heading.margin-top-forty,
.margin-bottom-forty {
	margin-top: 40px;
}

.rc-vertical-navigation li a {
	border: 0;
    border-radius: 0px;
    padding-left: 0;
    font-size: 14px;
	padding-top: 7px;
    padding-bottom: 7px;
}

.rc-vertical-navigation li a:hover,
.rc-vertical-navigation li a:focus {
	background: #FFF;
	color: #121420;
}

.rc-vertical-navigation li a.active,
.rc-vertical-navigation li a.active:focus,
.rc-vertical-navigation li a.active:hover {	
	background: #FFF;
	color: #121420;
}

.rc-vertical-navigation > ul {
	margin-left: 13px;
	border-left: 3px solid #F0F0F0;
	padding-left: 15px;
	padding-right: 15px;
}

.rc-headline-section {
	display: table;
    width: 100%;
    text-align: left;
	border-bottom: 3px solid #F0F0F0;
    padding-bottom: 3px;
}

.rc-headline-section .left-section {
	    display: table-cell;
    vertical-align: middle;
}

.rc-headline-section .right-section {
	display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 355px;
    margin-top: 0;
}

.rc-headline-section .right-section .first-filter {
	width: 210px;
    float: left;
    margin-right: 15px;
}

.product-row {
	margin-top: 30px;
}

.table-bordered {
	border: 1px solid #F0F0F0;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border: 1px solid #F0F0F0;
}

.category-categories {
    margin-top: 10px;
	margin-bottom: 0;
	overflow: hidden;
}

.category-categories li {
	float: left;
	display: block;
	margin: 10px 0;
}

.category-categories li a {
	font-size: 13px;
	padding: 0 15px;
}

.category-sort-filters .input-group-addon,
.search-sort-filters .input-group-addon {
	background: none;
    border: 0;
    border-radius: 0px;
    color: #555;
    font-size: 13px;
}

.category-sort-filters .form-control,
.search-sort-filters .form-control {
	box-shadow: none;
    border: 1px solid #F0F0F0;
    color: #000;
    font-weight: 600;
	-webkit-user-select: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-control {
	box-shadow: none;
    border: 1px solid #F0F0F0;
	outline: none;
	-webkit-user-select: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

hr.category-page {
	margin-top: 10px;
}

.nav-tabs.product-description {
	border-bottom: 3px solid #F0F0F0;
	margin-top: 30px;
}

.nav-tabs.product-description>li {
    margin-bottom: 0;
}

.nav-tabs.product-description>li>a {
	font-size: 14px;
	text-transform: uppercase;
	border: 0;
	color: #555;
}

.nav-tabs.product-description>li>a:first-child {
	padding-left: 0;
}

.nav-tabs.product-description>li>a:hover {
	border: 0;
	background: none;
	color: #121420;
}

.nav-tabs.product-description>li.active>a, .nav-tabs.product-description>li.active>a:focus, .nav-tabs.product-description>li.active>a:hover {
	border: 0;
	cursor: pointer;
	color: #121420;
}

.tab-content.product-description {
	font-size: 14px;
    line-height: 1.9;
}

.product-page .thumbnail {
	border: 0;
}

.product-page .image-additional a {
	border: 0;
}

.product-page {
    font-size: 13px;
}

.product-page .price-table {
	margin-top: 20px;
    margin-bottom: 0;
}

.product-page .price {
	color: #121420;
}

.product-page .product-quantity {
	width: 100%;
	margin-top: 20px;
}

.product-page .product-quantity .remove-qty {
	float: left;
    width: 35px;
    height: 35px;
    color: #121420;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 8px 0;
}

.product-page .product-quantity .quantity-input {
	float: left;
	border: 0;
	box-shadow: none;
	background: 0;
	text-align: center;
	font-size: 15px;
	width: 20%;
    color: #000;
}

.product-page .product-quantity .add-qty {
	float: left;
    width: 35px;
    height: 35px;
    color: #121420;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 8px 0;
}

.product-page .product-quantity .label-input-quantity {
	float: left;
	font-size: 14px;
	font-weight: 700;
	margin-top: 8px;
    margin-right: 15px;
}

.product-page .btn-primary.btn-cart {
	background: $accent-purple;
	box-shadow: none;
	background-image: none;
	border: 0;
	text-shadow: none;
	width: auto;
	margin-top: 5px;
}

.product-page .btn-wishlist,
.product-page .btn-compare {
	background: #FFF;
    border: 1px solid #F0F0F0;
    color: #555;
    text-shadow: none;
    box-shadow: none;
}

.product-page .product-options {
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
	margin-left: 0;
}

.search-checkbox-filters {
	margin: 10px 0;
}

.search-sort-filters {
	margin-top: 30px;
	margin-bottom: 30px;
}

.well {
	background-color: #f0f0f0;
    border: 0;
    text-shadow: none;
    box-shadow: none;
    padding: 30px;
}

.well h2 {
	margin-top: 10px;
}

.forgotten-password {
	margin-top: 10px;
	display: block;
}

.login-register-links ul li {
	float: left;
}

.login-register-links ul li a {
	padding-left: 8px;
	padding-right: 8px;
}

.login-register-links ul li:first-child a {
	padding-left: 0;
}

.page-information {
	margin-top: 30px;
	margin-bottom: 40px;
}

#menu-mobile {
	display: none;
}

#top-mobile {
	display: none;
}

#content .owl-carousel .owl-wrapper-outer,
#column-left .owl-carousel .owl-wrapper-outer,
#column-right .owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 0px;
    box-shadow: none;
    border: 0;
}

#content .owl-pagination,
#column-left .owl-pagination,
#column-right .owl-pagination {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	top: auto;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#content .owl-controls .owl-page,
#column-left .owl-controls .owl-page,
#column-right .owl-controls .owl-page {
	display: inline-block;
	margin: 0px 6px;
}

#content .owl-controls .owl-page span,
#column-left .owl-controls .owl-page span,
#column-right .owl-controls .owl-page span {
	display: block;
	width: 14px;
	height: 14px;
	background: $accent-purple-light;
	border-radius: 20px;
	border: 1px solid #FFF;
	box-shadow: none;
}

#content .owl-controls .owl-page.active span,
#column-left .owl-controls .owl-page.active span,
#column-right .owl-controls .owl-page.active span {
	background: $accent-purple-light;
	border: 1px solid #121420;
	box-shadow: none;
}

@media (max-width: 991px) {
	#top .currency-language {
		width: 62%;
		z-index: 9999;
	}
	
	#top .search-cart .search {
		margin-right: 28px;
		padding-right: 5px;
	}
	
	#menu {
		margin-top: 0;
	}
	
	#menu .nav {
		float: left;
	}
	
	#menu #category {
		color: #555;
		text-shadow: none;
	    padding: 12px 0 0px;
	}
	
	#menu .navbar-header {
		border-bottom: 3px solid #F0F0F0;
	}
	
	#menu .btn-navbar {
		background-image: none;
		color: #555;
		background-color: transparent;
		text-shadow: none;
		box-shadow: none;
		border: 0;
		padding: 12px 0 0px;
	}
	
	#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
		background-color: transparent;
		color: #555;
	}
	
	#logo {
		margin-bottom: 25px;
	}
	
	#logo a {
		display: block;
	}
	
	#logo a img {
		display: block;
		margin: 0 auto;
	}
	
	.product-thumb .caption {
		min-height: 100px;
	}
	
	.rc-headline-section .left-section {
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 25px;
	}
	
	.rc-headline-section .right-section {
		width: 249px;
		display: block;
		margin: 0 auto 10px;
		overflow: hidden;
	}
	
	.rc-headline-section .right-section .first-filter {
		width: 230px;
	}
	
	.rc-headline-section .right-section .second-filter {
		display: none;
	}
	
	.account-links li a {
	    padding: 7px 0;
		display: block;
		font-size: 14px;
	}
	
	#menu-mobile {
		display: block;
		background-color: #f2f2f2;
	}
	
	#menu-mobile .navbar-collapse.in {
		background-color: #ebebeb;
		border-top: 1px solid #d9d9d9;
	}
	
	#menu-mobile .navbar-toggle {
		border: 0;
		box-shadow: none;
		padding: 6px 16px;
	}
	
	#menu-mobile #category {
		font-weight: 600;
	    font-size: 19px;
    	line-height: 56px;
		padding-left: 15px;
		color: #555;
	}
	
	#menu-mobile .fa.fa-bars {
		font-size: 28px;
		color: #555;
	}
	
	#menu-mobile .navbar-nav>li>a {
		font-size: 15px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	#menu-mobile .nav .open>a,
	#menu-mobile .nav .open>a:hover,
	#menu-mobile .nav .open>a:focus {
		background-color: #dfdfdf;
		color: #00507E;
   	 	padding-left: 10px;
    	padding-right: 5px;
	}
	
	#menu-mobile .nav>li>a:hover,
	#menu-mobile .nav>li>a:focus {
		background-color: #EBEBEB;
	}
	
	#menu-mobile .navbar-nav .open .dropdown-menu {
		background: #e7e7e7;
    	padding: 0 25px 0 15px;
    	border-radius: 0;
	}
	
	#menu-mobile .navbar-nav .open .dropdown-menu li {
		display: block;
		padding: 10px 0;
	}
	
	#menu-mobile .see-all {
		display: block;
    	padding: 10px 0;
	}
	
	#menu-mobile .account-menu {
		background-color: #121420;
		color: #FFF;
		margin-left: -15px;
		margin-right: -15px;
	    padding-left: 30px;
    	padding-right: 30px;
	    margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 14px;	
	}
	
	#top-mobile {
		display: table;
		table-layout: fixed;
		width: 100%;
		color: #FFF;
		font-size: 13px;
		padding: 0;
		margin: 0;
		background-color: #121420;
	}
	
	#top-mobile .currency,
	#top-mobile .language,
	#top-mobile .search,
	#top-mobile .cart {
		display: table-cell;
		vertical-align: middle;
    	border-right: 1px solid #2b8ad2;
    	border-left: 1px solid #1f7bc1;
		position: relative;
	    max-height: 65px;
    	line-height: 65px;
	}
	#top-mobile .currency {
		border-left: none;	
	}
	#top-mobile .cart {
		border-right: none;	
	}
	#top-mobile .btn-group > .btn:hover,
	#top-mobile .btn-group > .btn:active,
	#top-mobile .btn-group > .btn:focus,
	#top-mobile .btn-group > .btn:visited {
		text-decoration: none;
	}
	
	#top-mobile button {
		padding: 0 31px;
		color: #FFF;
	}
	
/*	#top-mobile .search {
		position: relative;
	}*/

	#top-mobile .top-link {
		display: block;
		text-align: center;
		font-size: 17px;
	}

	#top-mobile .toggleCurrencySwitch.top-link {
		font-size: 20px;
	}
	
	#top-mobile .search .fa {
		font-size: 23px;
	}
	
	#top-mobile .search:after {
		width: 1px;
		height: 100%;
		background-color: #99e0ff;
		content: '';
		position: absolute;
		top: 0;
		right: -20px;
		display: none;
	}
/*	#top-mobile .cart {
		position: relative;
	}*/
	
	#top-mobile a {
		color: #fff;
	}
	
	#top-mobile .cart:before {
		width: 20px;
		height: 16px;
		background-image: url(../image/radiance/cart.png);
		background-repeat: no-repeat;
		content: '';
		position: absolute;
		top: 7px;
		left: 0;
		display: none;
	}
	
	#top-mobile .cart a span {
		width: 25px;
		height: 25px;
		border-radius: 2px;
		background-color: #fff;
		color: #121420;
		display: inline-block;
		margin-left: 10px;
		text-align: center;
		font-size: 15px;
		line-height: 25px;
	}
	
	#top-mobile .cart .fa {
		font-size: 23px;
	}
	
	#top {
		display: none;
	}
	
	#top .search-cart {
		margin-top: 7px;
	}
	
	#logo {
	    margin: 50px 0;
	}
	
	#top .currency-language {
		width: 99%;
		left: 37%;
    	margin-top: 13px;
	}
	
	#top .search-cart {
		overflow: hidden;
	}
	
	#top .search-cart a {
		font-size: 17px;
		padding: 0;
	}
	
	#top .search-cart .cart a span {
		font-size: 13px;
	}
	
	#top .search-cart .search {
		width: 10px;
		padding-right: 21px;
		margin-right: 41px;
	}
	
	#top .search-cart .cart {
		width: 74px;
	}
	
	#top .search-cart .search:after {
		right: -28px;
	}
	
	#top .search-cart .cart:before {
		display: none;
	}
	
	#top .search-cart .search {
	    padding-right: 0;
    	margin-right: 45px;
	}
	
	#top .search-cart a {
		font-size: 17px;
	}
	
	#top .search-cart .fa.fa-search,
	#top .search-cart .fa.fa-times {
		font-size: 19px;
	}
	
	h3.rc-heading {
		font-size: 20px;
	}
	
	footer {
		padding-top: 30px;
	}
	
	footer a  {
		font-size: 15px;
    	padding: 6px 0;
	}
	
	footer ul.list-unstyled {
		margin-bottom: 40px;
	}	
	
	.product-page .product-quantity .add-qty,
	.product-page .product-quantity .remove-qty{
		width: 55px;
    	height: 55px;
    	padding: 16px 0;
	}
	
	.product-page .product-quantity .add-qty .fa.fa-plus,
	.product-page .product-quantity .add-qty .fa.fa-plus {
		font-size: 22px;
	}
	
	.product-page .product-quantity .label-input-quantity {
		margin-top: 16px;
	}
	
	.product-page .product-quantity .quantity-input {
		padding: 28px 0;
	}
	
	.product-page .btn-primary.btn-cart {
	    min-width: 160px;
		padding: 15px 16px;
		font-size: 17px;
		width: 100%;
	}
	
	.product-page .price {
		font-size: 35px;
	}
	
	.product-thumb .caption h4 {
		font-size: 18px;
	}
	
	.btn {
		padding: 15px 20px;
    	font-size: 15px;
	}
	
	.btn.mobile-fix {
		padding: 7px 20px;
	}
	
	#cartBox #cart table.products-table tr td:first-child {
		display: none;
	}
	
	#cartBox #cart table.products-table tr:nth-child(2) td {
		width: 41%;
	}
	
	#cartBox #cart table.products-table .product-name {
		font-size: 15px;
	}
	
	button.close {
		position: absolute;
    	top: 8%;
    	right: 8%;
	}
	
	.alert {
		padding: 8px 50px 8px 10px;
	}
	
	.input-group .form-control[name^=quantity] {
		min-height: 38px;
	}
	
	.cart-buttons a {
		width: 48%;
		float: left;
	}
	
	.mobile-button-fix {
		padding: 5.5px 16px;
	}
	
	#currencySwitch,
	#languageSwitch {
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 12px;
	    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    -moz-opacity: 0;
	    -webkit-opacity: 0;
	    -khtml-opacity: 0;
	    opacity: 0;
	}
	
	.toggleCurrencySwitch,
	.toggleLanguageSwitch {
		display: block;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 21px;
	}
	
}