/* footer */
footer {
	margin-top: 30px;
	padding-top: 53px;
	background-color: lighten($dark, 3);
	color: #555;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #F0F0F0;
	margin-top: 4px;
}
footer a {
	color: #555;
    font-size: 13px;
    padding: 4px 0;
    display: block;
}
footer a:hover {
	color: #f0f0f0;
}
footer h5 {
	font-size: 15px;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
	margin-bottom: 18px;
}
footer .copyrights {
	font-size: 13px;
	margin-bottom: 20px;
}
footer .copyrights a {
	display: inline-block;
}