.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
header {
	background-color: lighten($dark, 3);
	margin-bottom: 30px;
}
#top {
	background-color: $dark;
    padding: 4px 0px 4px 0;
    margin: 0;
    min-height: 46px;
    color: #FFF;
    font-size: 13px;
}
#top .login-register-links {
    height: 36px;
    line-height: 37px;
}
#top .login-register-links a {
	color: #FFF;
	font-weight: 700;
}
#top .btn-group > .btn {
	color: #fff;
	font-size: 13px;
	padding: 0 12px;
}
#top .btn-group > .btn:hover,
#top .btn-group > .btn:active,
#top .btn-group > .btn:focus,
#top .btn-group > .btn:visited {
	text-decoration: none;
}
#top .currency-language {
    margin-top: 8px;
    /*overflow: hidden;*/
    width: 35%;
    position: relative;
    top: 0;
    left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 999;
}
#top .currency-language > li {
	position: relative;
}
#top .currency-language > li:first-child,
#top .currency-language > li:last-child {
	float: left;
}
#top .currency-language > li + li::before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #99E0FF;
	position: absolute;
	top: 0;
	left: 0;
}
#top .currency-language ul.dropdown-menu {
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
#top .currency-language ul.dropdown-menu button {
    text-align: left;
	color: #555;
}
#top .currency-language ul.dropdown-menu button:hover {
	text-decoration: none;
	color: #121420;
}
#top .search-cart {
	float: right;
	margin-top: 4px;
}
#top .search-cart .search {
	float: left;
    margin-right: 35px;
    margin-top: 6px;
    position: relative;
    padding-right: 10px;
    width: 35px;
}
#top .search-cart .search:after {
	width: 1px;
    height: 100%;
    background-color: #99e0ff;
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
}
#top .search-cart .cart {
	float: left;
    line-height: 32px;
    width: 94px;
    position: relative;
}
#top .search-cart a {
	color: #fff;
	display: block;
    padding-left: 28px;
}
#top .search-cart .cart:before {
	width: 20px;
    height: 16px;
    background-image: url(../image/radiance/cart.png);
	background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
}
#top .search-cart .cart a span {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	background-color: #fff;
	color: #121420;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
}
/* logo */
#logo {
	margin: 43px 0;
}
/* search */
#search {
	margin-bottom: 10px;
	position: relative;
}
#search .input-lg {
	height: 40px;
    line-height: 20px;
    padding: 0;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 17px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 20px;
}
#search .btn {    
	font-size: 15px;
    line-height: 18px;
    padding: 10px 0 10px 13px;
    text-shadow: none;
    border: 0;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    color: #555;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
	outline: none;
}
/* cart */
#cart {
	margin-bottom: 25px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: transparent;
	min-height: 40px;
	margin-top: 54px;
}
#menu .nav {
    float: right;
}
#menu .navbar-collapse {
	padding: 0;
}
#menu .nav > li > a {
	color: #f0f0f0;
    text-shadow: none;
    padding: 10px 14px 0;
    min-height: 15px;
    background-color: transparent;
    font-size: 14px;
}
#menu .nav > li.dropdown:after {
	width: 8px;
    height: 4px;
    background-image: url(../image/radiance/small-blue-arrow.png);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 18px;
    right: 1px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	color: darken(#f0f0f0, 7);
}
#menu .dropdown-menu {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    border: 0;
    background-color: #f0f0f0;
	padding: 14px 0 0;
	min-width: 180px;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
    display: block;
    padding: 7px 11px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 13px;
}
#menu .dropdown-inner li a:hover {
	color: $dark;
	background-color: darken(#f0f0f0, 7);
	background-image: none;
}
#menu .see-all {
	display: block;
    color: #f0f0f0;
    margin-top: 0.5em;
    border-top: 1px solid #e4e4e4;
    padding: 7px 10px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 13px;
    background-color: lighten($dark, 3);
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #121420;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}